
:root{
	--cdefault: #212121;
	--cblack: #000000;
	--cwhite: #ffffff;
	--cgrey1: #e2e2e2;
	--cgrey2: #dbdbdb;
	--cgrey3: #bdbdbd;
	--cgrey4: #919191;
	--cgrey5: #414141;
	--brdwhite: #ffffff;
	--brdgrey: #bdbdbd;
	--bgwhite: #ffffff;
	--bgblack: #000000;
	--bggrey: #e7e7e7;
	--gold: #feaa00;
	--yellow: #ffc600;
	--blue: #0063c7;
	--pink: #d40072;
	--cyan: #00a4a6;
	--viola: #ac00d0;
	--orange: #ff5a00;
	--green: #16b900;
}
html {margin: 0;padding: 0;width:100%!important;}
body{background-color:#fff; color:#313131; overflow-x:hidden !important;font-size:16px !important;margin:0;padding:0;font-family: 'Roboto-Regular', Arial !important;}
h1, h2, h3, h4{margin:0;padding:0;line-height:1.2;font-weight:bold;}
p{font-size:100%;line-height:1.2;margin:0;padding:0;}
a{text-decoration:none; color:var(--color1);}
a:hover{color:var(--color2); text-decoration:none !important;}
a:focus{outline:none; text-decoration:none !important ;color:var(--color2) !important;}
.difle-c{display:flex !important;justify-content: center;align-items: center;}
.difle-l{display:flex !important;justify-content: left;align-items: center;}
.difle-r{display:flex !important;justify-content:right;align-items: center;}
.mlr-page{margin-left:4%;margin-right:4%;}
.mlr-pagefull{margin-left:0;margin-right:0;}
.mlr-min5{margin-left:-5px;margin-right:-5px;}
.mlr-min10{margin-left:-10px;margin-right:-10px;}
.mlr-min15{margin-left:-15px;margin-right:-15px;}
.mlr-min20{margin-left:-20px;margin-right:-20px;}
.mlr-min25{margin-left:-25px;margin-right:-25px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m25{margin:25px;}
.m30{margin:30px;}
.mt5{margin-top:5px!important;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;}
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;}
.mt40{margin-top:40px!important;}
.mt50{margin-top:50px!important;}
.mb5{margin-bottom:5px!important;}
.mb10{margin-bottom:10px!important;}
.mb15{margin-bottom:15px!important;}
.mb20{margin-bottom:20px!important;}
.mb25{margin-bottom:25px!important;}
.mb30{margin-bottom:30px!important;}
.mb30{margin-bottom:30px!important;}
.plr-5{padding-left:5px;padding-right:5px;}
.plr-10{padding-left:10px;padding-right:10px;}
.plr-15{padding-left:15px;padding-right:15px;}
.plr-20{padding-left:20px;padding-right:20px;}
.plr-25{padding-left:25px;padding-right:25px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p25{padding:25px;}
.p30{padding:30px;}
.pt5{padding-top:5px!important;}
.pt10{padding-top:10px!important;}
.pt15{padding-top:15px!important;}
.pt20{padding-top:20px!important;}
.pt25{padding-top:25px!important;}
.pt30{padding-top:30px!important;}
.pt40{padding-top:40px!important;}
.pb5{padding-bottom:5px!important;}
.pb10{padding-bottom:10px!important;}
.pb15{padding-bottom:15px!important;}
.pb20{padding-bottom:20px!important;}
.pb25{padding-bottom:25px!important;}
.pb30{padding-bottom:30px!important;}
.mobile-view{display:none;}
.printonly{display:none;}
.relative{position:relative;}
.relhid{position:relative;overflow:hidden;}
.forhidden{overflow:hidden;}
.brdgrey-1{border:var(--brdgrey) 1px solid;}
.nowrap{white-space:nowrap;}
.textwrap td{text-wrap: wrap!important;}
.displaygrid {display:grid;box-sizing: border-box;}
.aligntop{align-self: start;}
.alignbottom{align-self: end;}
.brd-radius5{border-radius:5px;}
.brd-radius7{border-radius:7px;}
.brd-radius10{border-radius:10px;}
.to-center{text-align:center!important;}
.to-left{text-align:left!important;}
.to-right{text-align:right!important;}
.trans-def{transition:all 0.2s linear 0.1s;-webkit-transition:all 0.1s linear 0.1s;-moz-transition:all 0.1s linear 0.1s;-o-transition:all 0.1s linear 0.1s}
.trans-h{-webkit-transition:height .10s cubic-bezier(0,0,.58,1);-moz-transition:height .10s cubic-bezier(0,0,.58,1);-o-transition:height .10s cubic-bezier(0,0,.58,1);-ms-transition:height .10s cubic-bezier(0,0,.58,1);transition:all .55s cubic-bezier(.645,.045,.355,1) 0s;}
.btn.custombtn{display:inline-block;padding:0 10px;font-size:95%!important;font-weight:400;line-height:1.1;text-align:center;border:none!important;color:var(--cwhite)}
.btn.custombtn:focus,.btn.custombtn:active:focus,.btn.custombtn.active:focus,.btn.custombtn.focus,.btn.custombtn:active.focus,.btn.custombtn.active.focus{outline:none!important;outline-offset:0!important}
.btn.custombtn:hover,.btn.custombtn:focus,.btn.custombtn.focus{color:var(--cwhite)}
.btn.custombtn:active,.btn.custombtn.active{background-image:none;outline:0;-webkit-box-shadow:none;box-shadow:none}
.btnblock{width:100%;}
.btn-medium{height:34px;}
.btn-small{height:30px;}
.btn-big{height:40px;padding:0 15px;}
.btn-big p, .btn-medium p, .btn-small p{font-size:100%;margin:0;padding:0;line-height:1.1;color:var(--cwhite)!important;}
.btn-medium p, .btn-small p{font-size:95%;}
.btn-big svg{width:auto;height:24px;fill:var(--cwhite);}
.btn-small svg, .btn-medium svg{width:auto;height:22px;fill:var(--cwhite);}
.btn-medium svg{height:24px;}
.btn a, .btn a:focus, .btn a.active, .btn:focus, .btn.active{color:var(--cwhite)!important;}
.form-control.formcustom{height:34px;padding:0 10px!important;font-size:95%!important;line-height:1.1!important;color:var(--cdefault)!important;background-color:#fff;border:1px solid var(--brdgrey)!important;border-radius:5px;outline:0!important;-webkit-box-shadow:none!important;box-shadow:none!important}
.form-control.formcustom:focus{border-color:var(--brdgrey)!important;outline:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.form-control.formcustom::-moz-placeholder,.form-control.formcustom:-ms-input-placeholder,.form-control.formcustom::-webkit-input-placeholder{color:var(--cdefault)!important}
.pagingrow svg{height:24px;width:auto;fill:var(--cgrey4);margin:3px 0 0;}
.page-link{padding:0 5px !important;}
.pagination{margin:0 auto!important;}
.pagination>li>a,.pagination>li>span{padding:0 8px;margin-left:-1px;line-height:1.1;color:var(--color1);height:30px;font-size:95%;background-color:var(--bgwhite);border:1px solid var(--brdgrey)!important;display:flex!important;justify-content:center;align-items:center}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}
.pagination>li>a:hover,.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{z-index:2;color:var(--color1);background-color:var(--bggrey);border-color:var(--brdgrey)!important}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{background-color:var(--color1);border-color:var(--color1);color:var(--cwhite)!important;}
.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:var(--cdefault);border-color:var(--brdgrey)!important}

.imagefull img, .video-view{display:block;width:100%;height:100%;position: absolute;top: 50%;left: 50%;margin:0 auto;object-fit: cover;-webkit-transform: translate3d(-50%, -50%, 0);-moz-transform: translate3d(-50%, -50%, 0);-ms-transform: translate3d(-50%, -50%, 0);-o-transform: translate3d(-50%, -50%, 0);transform: translate3d(-50%, -50%, 0);}

.cwhite{color:var(--cwhite);}
.bggradient{background:linear-gradient(to right, var(--color1), var(--color2));}
.bgpink, .bgpink a{background:var(--pink);color:var(--cwhite)!important;}
.bgcyan, .bgcyan a{background:var(--cyan);color:var(--cwhite)!important;}
.bgviola, .bgviola a{background:var(--viola);color:var(--cwhite)!important;}
.bgorange, .bgorange a{background:var(--orange);color:var(--cwhite)!important;}
.bgblue, .bgblue a{background:var(--blue);color:var(--cwhite)!important;}
.bggreen, .bggreen a{background:var(--green);color:var(--cwhite)!important;}

.cbp-section:before,.cbp-section:after{content:" ";display:table}
.cbp-section:after{clear:both}
.cbp-so{width:100%;margin:0;-webkit-transition:-webkit-transform 0.5s,opacity 0.5s;-moz-transition:-moz-transform 0.5s,opacity 0.5s;transition:transform 0.5s,opacity 0.5s}
.cbp-so:before,.cbp-so:after{content:" ";display:table}
.cbp-so-init .cbp-so{opacity:0}
.cbp-so-init .cbp-so-top{-webkit-transform:translateY(80px);-moz-transform:translateY(80px);transform:translateY(80px)}
.cbp-section.cbp-so-animate .cbp-so-top{-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0);opacity:1}
.cbp-so-init .cbp-so-bottom{-webkit-transform:translateY(-80px);-moz-transform:translateY(-80px);transform:translateY(80px)}
.cbp-section.cbp-so-animate .cbp-so-bottom{-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0);opacity:1}
.cbp-so-init .cbp-so-left{-webkit-transform:translateX(-80px);-moz-transform:translateX(-80px);transform:translateX(-80px)}
.cbp-section.cbp-so-animate .cbp-so-left{-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);opacity:1}
.cbp-so-init .cbp-so-right{-webkit-transform:translateX(80px);-moz-transform:translateX(80px);transform:translateX(80px)}
.cbp-section.cbp-so-animate .cbp-so-right{-webkit-transform:translateX(0);-moz-transform:translateX(0);transform:translateX(0);opacity:1}